:root {
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

:root {
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}


body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
}

